@import "bulma-0.9.4/sass/utilities/_all.sass"


$scheme-main: #f0f0f0


nav
    border-bottom: 2px solid $scheme-invert-ter
    margin-bottom: 15px


@import "bulma-0.9.4/bulma.sass"


// This cat is called Cali.
// They are gay <3
//               _ |\_
//               \` ..\
//          __,.-" =__Y=
//        ."        )
//  _    /   ,    \/\_
// ((____|    )_-\ \_-`
//  `-----'`-----` `--`
