$background-primary: #14213d
$background-secondary: #000000

$background-primary-invert: #fca311
$background-secondary-invert: #fca311

$text-primary: #e5e5e5
$text-secondary: #ffffff
$text-url: #fca311


html, body
    background-color: $background-primary
    color: $text-primary

body
    padding-bottom: 40px

.navbar
    background-color: $background-primary
    border-bottom: 2px solid $background-primary-invert
    margin-bottom: 15px

.navbar-item
    color: $text-primary

.title, .label
    color: $text-primary

.subtitle
    color: $text-secondary

.container
    margin-top: 20px

a
    color: $text-url
    &:hover
        color: $text-secondary


// This cat is called Cali.
// They are gay <3
//               _ |\_
//               \` ..\
//          __,.-" =__Y=
//        ."        )
//  _    /   ,    \/\_
// ((____|    )_-\ \_-`
//  `-----'`-----` `--`
