{% extends "base.htm.j2" %}


{% block body %}
<div class="container">
    <div class="columns">
        <div class="column is-full">
            <h1 class="title">Rota Roamer</h1>
            <h2 class="subtitle">The easy choice for availability management</h2>
            <hr class="divider" />
            <p>
                Rota Roamer is powerful website designed for automating your
                rota creation. There are tools inbuilt to get availability
                from your staff members; allow you to create your rota;
                and then Rota Roamer can automatically build your staff
                schedule for you based on the days/times that your staff say
                they're available.
            </p>
        </div>
    </div>
</div>
{% endblock body %}
