{% extends "base.j2" %}


{% block title %}Rota Roamer - Manage People{% endblock title %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('css/dashboard/people.css') }}">
{% endblock head %}


{% block body %}
<div class="container">
    <div class="columns">
        <div class="column is-full">
            <h1 class="title">Manage your people</h1>
            <h2 class="subtitle">See who works for you and who lives in your rotas</h2>
            <br />

            <form id="create-new-person" action="javascript:void(0)" onsubmit="createNewPerson();">
                <div class="field">
                    <label class="label required">Name</label>
                    <div class="control">
                        <input class="input" type="text" name="name" required />
                    </div>
                </div> <!-- field -->
                <div class="field">
                    <label class="label required">Email</label>
                    <div class="control">
                        <input class="input" type="text" name="email" required />
                    </div>
                </div> <!-- field -->
                <div class="field">
                    <label class="label">Role</label>
                    <div class="control">
                        <div class="select">
                            <select name="role"></select>
                        </div>
                    </div>
                </div> <!-- field -->
                <div class="field">
                    <div class="control">
                        <button class="button" type="submit">
                            Create new person
                        </button>
                    </div>
                </div> <!-- field -->
            </form>

            <div id="person-list">
                Loading...
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ static('js/dashboard/people.js') }}"></script>
<script type="text/javascript">getAllPeople();</script>
{% endblock body %}
